
block menu
    nav.header_menu
        div.blok_menu
            div.basket
                a.basket_current(href="/cart") 0
            ul.menu
                li.menu_item
                    a.menu_item__link(href='/') HOME
                li.menu_item
                    a.menu_item__link(href='#') PAGES
                li.menu_item
                    a.menu_item__link(href='/shop') SHOP
                li.menu_item
                    a.menu_item__link(href='#') BLOG
                li.menu_item
                    a.menu_item__link(href='#') LOOKBOOK
                li.menu_item
                    a.menu_item__link(href='#') ELEMENTS