
block slider
    div.slider_container
        div.slider
            div.slider_item
                img.slider_img(src="/images/h1-rev-img-2.png")
                p.slider_img_name VOEVOD INC
                h1.slider_name MASTER THE TRAIL
                div.slider_btn
                    a.slider_btn__link(href="#") SHOP NOW

